<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>

    <body>
        <h1>On a scale of 0-10, how are you feeling today?</h1>
        <form method="POST" action="/send">
            <div class="form-group">
                <input type="text" name="how_feeling">
            </div>
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
        <a href="{{ url_for('suicide_resources') }}">Are you or someone you know in a suicide crisis situation?</a>
        <h5>Disclaimer</h5>
        <p>None of the data you submit here is collected- there are no cookies or databases.</p>
    </body>

</html>