<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    
    <body>
        
        <h1>Online Therapy</h1>
        
        <p>There are many reasons it might be suitable to choose an online therapist. In general, they are cheaper than a face-to-face therapist, they can offer services close to the efficacy of face-to-face therapists, and they are more flexible with your time schedule. <a href="https://www.talkspace.com/online-therapy/index.php#4">Talkspace</a> has a great page on the details of online therapy. They are also on our list, so be sure to check them out.</p>
        
        <h5><a href='https://www.talkspace.com'>Talkspace</a></h5>
        <p><i>Paid: ~$128/mo for unlimited acccess</i></p>
        <p>Talkspace is a beautifully designed program for online therapy. They offer an unlimited text-support service, and do also have life-therapy options as well. They have great information about themselves, online therapy, and confidentiality on their website, so give them a look.</p>
        
        <h5><a href="https://www.7cups.com">7 Cups</a></h5>
        <p><i>Free/Paid: ~$150/mo for therapist</i></p>
        <p>7 cups is another great alternative to online therapy. What's unique about their platform is that they have a peer-to-peer chat program, which utilizes volunteer 'listeners', that is completely free. Keep in mind that these listeners are not certified therapists, but the platform is still worth checking out, to be sure.</p>
        
    </body>
</html>