<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    
    <body>
        
        <h1>Suicide Resources</h1>
        
        <p>Here are some suicide resources. If you are considering suicide, please give these a chance.
        Whenever possible, however, seek assistance from a therapist. You can find one in your local 
        area, or even on here, if you like.</p>
        
        <h5>National Suicide Hotline</h5>
        <p>800-273-2855</p>
        <p>This national suicide hotline is open 24/7, and gaurentees to be free and confidential. You will connect with a real person here. Again, this is completely confidential, so you shouldn't feel nervous talking to them. They're here to help.</p>
        
        <h5>Do you know someone who might be at risk?</h5>
        <ol>
            <li>Ask.</li>
            <li>Keep them safe.</li>
            <li>Be there.</li>
            <li>Help them connect.</li>
            <li>Follow up.</li>
        </ol>
        <p>The list above was taken from <a href="http://www.bethe1to.com/">"Be The 1 To"</a>, a site dedicated making everyone capable of dealing with a crisis suicide situation with their five-step method. I highly recommend you check them out- they have posters and such, which would be amazing if they were distributed in work/school.</p>
    </body>
</html>